@import 'variables';

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card{
    padding: 0;
    border-radius: 5px;

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

.hero.is-fullheight-with-navbar{
    min-height: calc(100vh - 6.75rem);
}

//--------------------------------------------------------------------------------------------------------------------//

//the background-color of the entire body (shows through on the rounded corners of the navbar and the footer
body {
    background: url("/img/rare.png");
    background-attachment: fixed;
    background-size: cover;
}

//change the color and the font-weight of warnings
.help.is-warning {
    color: $orange-accent;
    font-weight: bolder;
}

//set the border radius of several elements
.box,
.button,
.input,
.textarea,
#kind,
.card-header,
.custom-card,
.blog-card,
.custom-card header,
.message,
.message-body,
table,
.panel,
.panel-block,
.modal-card,
.notification {
    border-radius: 15px;
}

//push the content of cards down by 25px
.card,
.panel {
    padding-top: 25px;
}

//change the background-color of cards and boxes
.card,
.box,
.panel,
.modal-card-body,
.modal-card-foot {
    background-color: $dark-green-accent;
}

//adding a padding a card (that is uniform all around unlike the default behaviour)
.card {
    padding: 25px;
}

//center the text in card-content and disable padding on left, right, and bottom
.card-content {
    text-align: center;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

//make the card-header and modal-card-header background purple
.card-header,
.modal-card-head {
    background-color: $purple-accent;
}

//color the text in a card, a card-head-title, label or a checkbox
.card,
.card-header-title,
.label,
.checkbox,
.modal-card-title,
.modal-card-body {
    color: $light-green-accent;
}

//make the text on the navbar and the navbar-dropdowns bold
.navbar,
.navbar-dropdown {
    font-weight: bold;
}

//round the bottom corners of the navbar
.navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

//when hovering over a navbar-item child of a navbar-link will be in the hover color too
//the background color option is present to fix an issue when hovering over navbar-items when the page is in mobile view (the background-color switched back to the dark-green-accent in mobile view)
.navbar-item:hover > .navbar-link {
    color: $dark-green-accent;
    background-color: $light-green-accent;
}

//when hovering over a navbar-link or over a navbar-item child of a navbar-link color the arrow of the navbar-link will be in the hover color too
.navbar-link:hover::after,
.navbar-item:hover > .navbar-link::after {
    border-color: $dark-green-accent;
}

//fixing the text color and the background-color of active navbar-links and a.navbar-items when in mobile view
.navbar-link.is-active,
a.navbar-item.is-active {
    color: $purple-accent;
    background-color: $dark-green-accent;
}

//fixing the background-color when hovering over active a.navbar-items in mobile view
a.navbar-item.is-active:hover {
    background-color: $light-green-accent;
}

//when a navbar-link is active color the arrow of the navbar-link in the active color too
.navbar-link.is-active::after {
    border-color: $purple-accent;
}
//no border between navbar-dropdown & navbar-link and no border between modal-card-head & modal-card-body and no border between modal-card-body & modal-card-foot
.navbar-dropdown,
.modal-card-head,
.modal-card-foot {
    border: none;
}

//setting the border-width of a message-box and moving the text of a message-box to the center
.message-body {
    border-width: 3px 4px;
    text-align: center;
}

//round the top corners of the footer and height control
.footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 0;
}

//used for the username on the dashboard
strong {
    color: $purple-accent;
    font-weight: bolder;
}


//push the table-container away from the top element
.table-container {
    margin-top: 25px;
}

//setting the size and background-color of a table
.table {
    width: 100%;
    background-color: $light-green-accent;
}

//change the color of the border of tables
.table th,
.table td {
    border-color: $purple-accent;
}

//setting the text-align and the color of the table (header and content need separate mentions)
.table th:not([align]),
.table td:not([align]){
    text-align: center;
    color: $dark-green-accent;
    font-size: 18px;
}

//center the buttons in the modify row of a table
.field.is-grouped {
    display: inline;
}

//space out the buttons in the modify row of a table
.button.is-info.is-outlined.is-small {
    margin-right: 15px;
}

//move the panel-heading inwards and add color
.panel-heading{
    background-color: $purple-accent;
    color: $light-green-accent;
    border-radius: 15px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: bold;
}

//remove panel-heading & panel-block border and make level classes usable in panel-block
.panel-heading:first-child,
.panel-block {
    border: none;
    display: block;
}

//move the panel-block inwards and add color
.panel-block {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: $light-green-accent;
    color: $dark-green-accent;
    padding: 16px;
}

//moving the content in a panel away from the edge (needed for the item detail page)
.panel {
    padding-bottom: 25px;
}

//class for a div to push the edit button on a panel inwards
.panel-button-push-inwards {
    padding-left: 25px;
    padding-right: 25px;
}

.level-reflow {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

//make the action buttons in a table stay in a line
#modify-column-element {
    display: inline-flex;
}

//table column titles in ine line (no multi line)
.header-warp-override {
    white-space: nowrap;
}

//pushing big action button down on register, reset password, create item and edit item pages
.push-button-down {
    margin-top: 25px;
}

//do color-change animation when hover over the footer text
#footer-text:hover {
    animation: color-change 20s infinite;
}

//the color keyframes for the color-change animation
@keyframes color-change {
    0% {
        color: $light-green-accent;
    }
    25% {
        color: $light-green-accent;
    }
    50% {
        color: $purple-accent;
    }
    75% {
        color: $orange-accent;
    }
    100% {
        color: $light-green-accent;
    }
}

//change the color of the welcome text
#welcome-text {
    color: $purple-accent;
}

//font for the project
body,
button,
input,
select,
textarea {
    font-family: "Comic Sans MS", cursive;
}

//text color of links
a {
    color: $blue-accent;
}

//text color when hover over links
a:hover {
    color: white;
}

//change the color of the delete buttons in a table
.button.is-danger.is-outlined {
    color: $red-accent;
    border-color: $red-accent;
}

//change the color of the edit buttons in a table
.button.is-info.is-outlined {
    color: $blue-accent;
    border-color: $blue-accent;
}

//center the text in a modal-card
.modal-card {
    text-align: center;
}

//change the font size of the text in the modal-card-body
.modal-card-body {
    font-size: 18px;
}

//center the div element that contains the buttons in the modal-card-foot
.modal-card-foot-buttons {
    margin: auto;
}

//make the distance between the buttons in the modal-card-foot bigger
.modal-card-foot .button:not(:last-child) {
    margin-right: 4.5em;
}

//change the style of light buttons, used for the modal-card cancel button and the register button on the start page
.button.is-light,
.button.is-light:hover {
    background-color: $light-green-accent;
    border-color: transparent;
    color: $dark-green-accent;
}

//remove the margin on the table-container for the kinds list
.table-container.no-margin {
    margin: 0px;
}

//fixing text flow in a level container at certain browser window widths
@media screen and (min-width: 769px) and (max-width: 1407px) {
    .level,
    .level-left,
    .level-right {
        display: inherit;
    }
}

//fixing the vertical distance between the children of a level container at certain window widths
@media screen and (min-width: 769px) and (max-width: 1407px) {
    .level-left + .level-right {
        margin-top: 1.5rem;
    }
}
