// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: hsl(262, 100%, 28%);
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$card-header-background-color: darken($primary, 5%);
$card-header-color: #fff;

$footer-padding: 1rem 2.5rem 2.5rem;

$bg-main: #242424;
$grey-accent: hsl(0, 0%, 10%);

$navbar-background-color: $bg-main;
$navbar-item-color: $grey-lighter;
$navbar-item-hover-color: $grey-light;
$navbar-item-active-color: $primary;
$navbar-item-hover-background-color: rgba($grey-darker, 0.1);
$navbar-item-active-background-color: rgba($grey-darker, 0.1);

$navbar-dropdown-item-hover-color: $grey-light;
$navbar-dropdown-item-active-color: $primary;
$navbar-dropdown-background-color: $bg-main;
$navbar-dropdown-item-hover-background-color: $grey-accent;
$navbar-dropdown-item-active-background-color: $grey-accent;
$navbar-dropdown-arrow: $grey;

$footer-background-color: $bg-main;
$footer-color: $grey-lighter;

